// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');
@import url('https://fonts.googleapis.com/css?family=Ruda');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Responsive Text: http://www.standardista.com/px-to-rem-conversion-if-root-font-size-is-16px/
html {
  font-size: 16px;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

#container {
  width: 100%;
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Ruda', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 0.75rem;

  h2 {
    font-family: 'Nunito', sans-serif;
  }
}

.wrapper {  
  margin: 40px auto 10px auto;
  padding: 0 15px 15px 15px;
  width: 95%;
}

.app-min-height {
  min-height: 900px;
}

nav .nav-item {
  margin-right: 5px;
}

.btn-size {
  min-width: 100px;
  margin-right: 5px;
}

// Table
table {
  border-bottom: $table-border;
}

table.table-striped > thead > tr > th {
  border: none !important;
}

// Footer
.app-footer {
  color: #fff;
  padding: 10px 0;
  margin-top: 4%;
  font-size: 0.625rem;
  background: $footer-color;
  
  a {color: #fff;}

  a:hover { color: $link-hover-color; }
}

// Information
.info {
  background: #787878;
  padding: 14px;
  margin-bottom: 14px;
  box-shadow: 0 3px 2px #aab2bd;
  min-width: 100%;

  h3 {
    font-size: 0.9375rem;
    padding-top: 5px;
  }

  h5 {
    font-size: 1.0625rem;
  }
}

.info-message {
  min-height: 15px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #b8b8b8;
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #fff;
}

.alert {
  width: 100%;
  height: auto;
}

placeholder {
  font-size: 0.8125rem;
}

// Bootstrap Tags Input: https://codepen.io/dannibla/pen/QGLyBW
.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .badge {
  margin-right: 2px;
  color: white;
  background-color:#0275d8;
  padding:5px 8px;border-radius:3px;
  border:1px solid #01649e
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius:50%;
  font-size:13px
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color:rgba(0, 0, 0, 0.62);
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.information p {
  font-size: 1rem;
  line-height: 30px;
}
